<main>
  <div class="content mx-[156px] ">

    <h1 class="text-[48px] font-bold mt-[64px] mb-[48px]">Dashboard</h1>

    <div class="grid grid-rows-2 grid-cols-2 mb-[48px] gap-[24px]">
      <img src="dashboard/period.png" alt="momento do relato">
      <img src="dashboard/types.png" alt="tipos de agressão">
      <img src="dashboard/gender.png" alt="gênero">
      <img src="dashboard/ages.png" alt="faixa etária">
    </div>

    <h1 class="text-[28px] font-bold">Ocorrências</h1>

    <p>Filtros</p>
    <p>Intervalo</p>

    <input type="text">

    <button-component theme="light" buttonName="Botão número 1"/>

  </div>
</main>