<main>
  <div class="content mx-[156px] ">

    <div class="flex justify-between items-center">
      <h1 class="text-[48px] font-bold mt-[64px] mb-[48px]">Dashboard</h1>
      <a routerLink="/complaint">
        <button-component theme="light" buttonName="Ir para Ocorrência"/> 
      </a>
    </div>

    <div class="grid grid-rows-2 grid-cols-2 mb-[48px] gap-[24px]">
      <img src="dashboard/period.png" alt="momento do relato">
      <img src="dashboard/types.png" alt="tipos de agressão">
      <img src="dashboard/gender.png" alt="gênero">
      <img src="dashboard/ages.png" alt="faixa etária">
    </div>

    <h1 class="text-[28px] font-bold">Ocorrências</h1>

    <p class="text-[24px] font-semibold">Filtros</p>

    <p class="text-[#706F71] text-[16px] font-semibold">Intervalo</p>

    <input type="date" class="border-none rounded-lg p-4 bg-[#F1ECFF] text-[#515151] italic">

    <button-component theme="dark" buttonName="Limpar" (click)="logMessage()"/>
    <button-component theme="light" buttonName="Filtrar"/>

    <list-component />

    <!-- @if (data) {
      @for (complaints of data; track complaints.complaints) {
        {{complaints}}
        @for (item of complaints; track item.id) {
          <span>{{item.id}}</span>
        }
      }
    }    -->

    <!-- {{data.complaints}} -->

  </div>
  
</main>