<div class="my-10">
  <table class="table-auto">
    <thead>
      <tr>
        <th class="text-left w-[20%] text-[#706F71] text-[16px]">Identificador</th>
        <th class="text-left w-[20%] text-[#706F71] text-[16px]">Bairro</th>
        <th class="text-left w-[20%] text-[#706F71] text-[16px]">Data do Ocorrido</th>
        <th class="text-left w-[20%] text-[#706F71] text-[16px]">Tipo de Agressão</th>
      </tr>
    </thead>
    
    <tbody>
      @if (data) {
        @for (item of data.complaints; track item.id) {
          <tr class="rounded-lg bg-[#F8F8F8]">
            <td class="px-[24px] py-[22px]">{{item.id}}</td>
            <td>{{item.neighborhood}}</td>
            <td>{{item.date}}</td>
            <td> <button-component theme="list" buttonName={{item.type}}/> </td>
          </tr>
        }
      }
    </tbody>
  </table>
</div>